/* Estilos generales */
body {
    font-family: Arial, Times, serif;
    background-color: #cbd9ff;
}
    
header {
    display: flex;
    align-items: center;
    background-color: #156492;
    color: white;
    padding: 10px;
}

header img {
    width: 50px;
    order: 1;
}

h1 {
    margin: 0;
    order: 2;
    flex-grow: 1;
}
    
article {
    margin: 20px;
}
    
    /* Estilos para los párrafos */
.parrafo {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(110, 110, 110);
    font-size: 20px;
}
 .parrafo p {
    display: flex;
 }
.parrafo p img{
    width: 150px;
    margin-right: 10px;
}
    
    /* Estilos para la lista */
ul {
    margin: 10px;
    padding: 10px;
    list-style: inside;
    display: inline-block;
    background-color: #f2f2f2;
    
}
    
ul li {
    margin: 10px;
    padding: 5px;
    
}
    
/* Estilos para la tabla */

.tabla {
    border-collapse: collapse;
    width: 100%;
  
}

    
th, td {
    text-align: left;
    padding: 8px;
    size: 2vw;
}
    
th {
    background-color: #2aa6ee;
    color: white;
    font-size: 2vw;
}
    
tr:nth-child(even) {
    background-color: #f2f2f2;
}
    
/* Estilos para el formulario de suma */
form {
    margin-bottom: 20px;
}
    
label {
    display: block;
    margin-bottom: 5px;
}
    
input[type="number"] {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #a7a7a7;
    margin-bottom: 10px;
}
    
button {
    padding: 5px 10px;
    background-color: #0c85bd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    
}

.Botones_prueba{
    background-color: #2aa6ee;
    display: inline-block;
    padding: 20px;
}
.Botones_prueba button{
    display: block;
    margin: 10px;
    padding: 10px;
}

button a{
    text-decoration: none;
    color: antiquewhite;
}
    
/* Estilos para el botón de alerta */
    .alert-button {
    margin-bottom: 20px;
}

.calculadora{
    background-color: #2aa6ee;
    padding: 15px;
    margin-right: 10px;
    display: inline-block;
}